:root {
  --theme: rgba(112, 182, 115, 1);
  --green: rgba(112, 182, 115, .8);
  --progress-bg-color: var(--green);
  --progress-font-color: var(--progress-bg-color);
}
.rc-upload-file * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rc-upload-file-progress {
  display: grid;
  grid-template-columns: auto 30px;
  column-gap: 5px;
  width: 100%;
}
.rc-upload-file-progress-bar {
  background-color: var(--progress-bg-color);
  height: 2px;
  align-self: center;
  transition: width 1s;
}
.rc-upload-file-progress-value {
  color: var(--progress-font-color);
  align-self: center;
  font-size: 10px;
  font-weight: 200;
}

.rc-upload-file-modal {
  background: rgba(99, 110, 114, .6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rc-upload-file-modal-content {
  position: relative;
  background: #fff;
}
.rc-upload-file-modal-content-close {
  border: none;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rc-upload-file-modal-content-close svg {
  color: #636e72;
  transition: color .5s;
}
.rc-upload-file-modal-content-close:hover svg {
  color: #b2bec3;
}
.rc-upload-file-modal-title {
  border-bottom: 1px solid #dfe6e9;
  padding: 15px;
  margin: 0;
  color: #2d3436;
  font-weight: 500;
  font-size: 16px;
}
.rc-upload-file-modal-image {
  max-width: 500px;
  max-height: 400px;
  padding: 12px;
}

.rc-upload-file-loaded-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}
.rc-upload-file-loaded-image
img {
  height: 30px;
}

.rc-upload-file-loaded-image
span {
  padding: 0 5px;
}

.rc-upload-file-button {
  font-size: 15px;
  font-weight: 300;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: var(--theme);
  color: #fff;
  transition: background-color .5s;
  cursor: pointer;
  outline: none;
}
.rc-upload-file-button:hover {
  background-color: var(--green);
}