:root {
  --theme: rgba(112, 182, 115, 1);
  --green: rgba(112, 182, 115, .8);
  --progress-bg-color: var(--green);
  --progress-font-color: var(--progress-bg-color);
}
.rc-upload-file * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rc-upload-file {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.rc-upload-file-btn {
  align-self: flex-start;
  margin: 10px;
}
.rc-upload-file-btn button {
  border: 1px solid #dfe6e9;
  border-radius: 5px;
  transition: border-color .5s, color .5s;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}
.rc-upload-file-btn button:hover,
.rc-upload-file-btn button:visited,
.rc-upload-file-btn button:active,
.rc-upload-file-btn button:focus {
  border-color: #0984e3;
  color: #0984e3;
}

.rc-upload-file-progress {
  display: grid;
  grid-template-columns: auto 30px;
  column-gap: 5px;
  width: 100%;
}
.rc-upload-file-progress-bar {
  background-color: var(--progress-bg-color);
  height: 2px;
  align-self: center;
  transition: width 1s;
}
.rc-upload-file-progress-value {
  color: var(--progress-font-color);
  align-self: center;
  font-size: 10px;
  font-weight: 400;
}

.rc-upload-file-modal {
  background: rgba(99, 110, 114, .6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rc-upload-file-modal-content {
  position: relative;
  background: #fff;
}
.rc-upload-file-modal-content-close {
  border: none;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rc-upload-file-modal-content-close svg {
  color: #636e72;
  transition: color .5s;
}
.rc-upload-file-modal-content-close:hover svg {
  color: #b2bec3;
}
.rc-upload-file-modal-title {
  border-bottom: 1px solid #dfe6e9;
  padding: 15px;
  margin: 0;
  color: #2d3436;
  font-weight: 500;
  font-size: 16px;
}
.rc-upload-file-modal-image {
  max-width: 500px;
  max-height: 500px;
  padding: 12px;
}

.rc-upload-file-image {
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 20px;
  border: 1px solid #dfe6e9;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  align-self: stretch;
}
.rc-upload-file-image-img {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}
.rc-upload-file-image-img>img {
  cursor: pointer;
  width: inherit;
  width: inherit;
}
.rc-upload-file-image-progress {
  margin: auto 0;
}

.rc-upload-file-upload-file {
  display: flex;
  justify-content: flex-start;
}
.rc-upload-file-upload-file span {
  margin: auto 0;
}
.rc-upload-file-upload-file-progress {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  flex-grow: 1;
}
.rc-upload-file-upload-file-progress
.rc-upload-file-progress {
  align-self: stretch;
}